/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root{
    --min-size: 1rem;
    --medium-size: 2rem;
    --large-size: 3rem;
}

body{
    font-family: 'Press Start 2P', system-ui;
    font-size: var(--min-size);
}

.container{
    height: 100vh;
    width: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card{
    grid-area: 2/2;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    image-rendering: pixelated;
}

.card input{
    padding: var(--min-size);
    margin: var(--min-size);
    border: 1px solid gray;
    border-radius: var(--min-size);
}

.card button{
    padding: var(--min-size);
    margin: var(--min-size);
    border: 1px solid lightgray; 
    border-radius: var(--min-size);
    background-color: white;
    
    transition: all 0.3s;
}

.card button:hover{
    cursor: pointer;
    box-shadow: 3px 3px 0 red;
}

.card button:active{
    background-color: lightgray;
}

.score{
    grid-area: 2/1;
    font-size: var(--large-size);
}

.score p:first-child{
    color: lightblue;
}

.score p:last-child{
    color: lightcoral;
}